@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900)
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css)

$text_color : #B8B8B8

*, *:before, *:after
  box-sizing: border-box

.weather-wrapper
  margin-top: -100px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center

.weather-card
  margin:  20px 5px
  border-radius: 20px
  position: relative
  overflow: hidden
  width: 270px
  height: auto
  animation: appear 500ms ease-out forwards
  h1
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-size: 80px
    color: $text_color
    bottom: 0
    left: 35px
    opacity: 0
    transform: translateX(150px)
    animation: title-appear 500ms ease-out 1ms forwards
  p
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-size: 28px
    color: lighten($text_color, 10%)
    bottom: 0
    left: 35px
    animation: title-appear 1s ease-out 1ms forwards
  img
    height: 150px
    margin-left: 64px
    animation: title-appear 1s ease-out 1ms forwards

@keyframes appear
  0%
    transform: scale(0)
  50%
    transform: scale(1.05)
  75%
    transform: scale(0.95)
  100%
    transform: scale(1)

@keyframes title-appear
  from
    opacity: 0
    transform: translateX(150px)
  to
    opacity: 1
    transform: translateX(0px)

.top-left
  margin-top: -60px
#day
  font-family: 'Lato', sans-serif
  color: $text_color
  font-weight: 700
  font-size: 25px
  margin-top: 18px
#date
  font-family: 'Lato', sans-serif
  color: $text_color
  font-weight: 500
  font-size: 20px
  margin-top: 4px

#time
  font-family: 'Lato', sans-serif
  color: $text_color
  font-weight: 400
  font-size: 18px
  margin-top: 8px

.info
  width: 180px
  height: 50px
  position: relative
  bottom: 0
  right: 15px
  font-weight: 700
  color: $text_color
  text-align: center
  animation: appear 500ms ease-out forwards
.rain
  width: 50%
  position: absolute
  left: 10px
  word-spacing: 60px
  top: 5px
  animation: title-appear 1.1s ease-out 2ms forwards
.rain::before
  display: block
  content: '\f04e'
  font-family: weathericons
  font-size: 40px
  left: 6px
  top: 4px
  position: absolute
.wind
  width: 50%
  right: -10px
  position: absolute
  word-spacing: 60px
  top: 3px
  animation: title-appear 1.2s ease-out 2ms forwards
.wind::before
  display: block
  content: '\f050'
  font-family: weathericons
  font-size: 25px
  left: -10px
  position: absolute
  top: 5px
