$input-wide : calc(100vh - 10%)


.ymaps-2-1-78-map-copyrights-promo
  display: none
.ymaps-2-1-78-copyright.ymaps-2-1-78-copyright_logo_no
  display: none
.ymaps-2-1-78-search.ymaps-2-1-78-search_layout_normal.ymaps-2-1-78-searchbox__normal-layout
  display: none

.map
  border: 20px rgba(245, 245, 245, 0.8)
  border-image: -webkit-linear-gradient(45deg, rgba(245, 245, 245, 0.8), rgba(0, 0, 0, 0.1)) 20 stretch
.search_input
  font-size: 18px
  padding: 10px
  text-align: center
  width: $input-wide
  height: 25px
  margin: 50px
  line-height: 18px
  color: #575756
  background-color: transparent
  border: 1px solid #F5F5F5
  border-bottom: 1px solid #575756
  &:hover,
  &:focus
    outline: 0
    border: 1px solid transparent
    border-bottom: 1px solid #575756
    border-radius: 0
.search.icon
  margin-top: 50px
  cursor: pointer
  &:hover
    color: black !important
    transform: scale(1.2)